1.2">
<!--
if (window.gbWhTopic)
{
	if (window.addTocInfo)
	{
	addTocInfo("Questões Encontradas Durante o Jogo");
addButton("show",BTN_TEXT,"Mostrar","","","","",0,0,"","","");

	}
	if (window.writeBtnStyle)
		writeBtnStyle();

	if (window.writeIntopicBar)
		writeIntopicBar(1);

	if (window.setRelStartPage)
	{
	setRelStartPage("EA_Help_Pt.htm");

		autoSync(1);
		sendSyncInfo();
		sendAveInfoOut();
	}
}
else
	if (window.gbIE4)
		document.location.reload();
//-->
</script>
<p>&nbsp;</p>

<div align=center>
<table x-use-null-cells cellspacing="0" width="90%" class="whs1">
<col class="whs2">
<col class="whs3">

<tr valign="top" class="whs4">
<td colspan="1" rowspan="1" bgcolor="#000000" width="6.232%" class="whs5">
<p><img src="badge.gi